<footer>
	<div class="footer-start">
		<div class="footer-menu">
			<div class="menu">
				<span>О нас</span>
				<ul>
					<li><a href="#">Кто мы</a></li>
					<li><a href="#">Наши работы</a></li>
					<li><a href="#">Отзывы</a></li>
				</ul>
			</div>
			<div class="menu">
				<span>Услуги</span>
				<ul>
					<li><a href="#">Сайт-визитка</a></li>
					<li><a href="#">Личный Блог</a></li>
					<li><a href="#">Каталог товаров</a></li>
					<li><a href="#">Интернет магазин</a></li>
				</ul>
			</div>
			<div class="menu">
				<span>Связаться</span>
				<ul>
					<li><a href="#">Почта</a></li>
				</ul>
			</div>
		</div>
		<!--
		<div class="message">
		<form>
		<input class="message-field"  type="text" placeholder="Sign up for our newsletter" id="newsletter" name="email" size="40" maxlength="100" value="">
		<input class ="btn btn-send" type="submit" name="submit" value="Отправить">
		</form>
		</div>
		-->
	</div>

	<div class="footer-end">
		<div class="footer-end-end">
			<div class="copy">
				© 2017 Martin Web Studio. All Rights Reserved.
			</div>
			<div class="links">
				<a href="#"><i class="fa fa-instagram fa-2x" aria-hidden=true></i></a>
				<a href="#"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>  
</footer>
