<div class="message">
	<div class="message__form">
	<span class="message__header">Напишите нам о себе</span>
		<input type="text" name="name" placeholder="Ваше имя" />
		<input type="text" name="company_name" placeholder="Название вашей компании" />
		<input type="email" name="email" placeholder="Ваша электронная почта" />
		<input type="text" name="telephone" placeholder="Номер телефона" />
		<textarea name="comment" placeholder="Ваше сообщение"></textarea>
		<button >Написать</button>
	</div>
</div>
