<section class="our-orders">
	<div class="our-order">
		<div class="imag">
			<img class="screen" src="https://contentmaximiser.com/wp-content/uploads/2015/08/sales-landing-page.jpg">
		</div>
		<div class="info"> 
			<div class="description">
				<h2>Langing page</h2>
				<h3>Страница для вашего бизнеса, через которую люди узнают о вас.</h3>
			</div>
			<div>
				<ul>
					<li>Разработка собственного дизайна. </li>
					<li>Консоль для управления сайтом. </li>
					<li>Счётчик посещений.</li>
					<li>Разработка ТЗ в соответствии с требованиями.</li>
				</ul>
			</div>
		</div> 
	</div>
	<div class="our-order">
		<div class="imag">
			<img class="screen" src="https://contentmaximiser.com/wp-content/uploads/2015/08/sales-landing-page.jpg">
		</div>
		<div class="info">
			<div class="description">
				<h2>Блог</h2>
				<h3>Ваш персональный сайт, где вы вольны делиться с миром лучшим, что у вас есть.</h3>
			</div>
			<div>
				<ul>
					<li>Разработка собственного дизайна. </li>
					<li>Консоль для управления сайтом. </li>
					<li>Счётчик посещений.</li>
					<li>Разработка ТЗ в соответствии с требованиями.</li>
				</ul>
			</div>
		</div>
	</div> 
	<div class="our-order">
		<div class="imag">
			<img class="screen" src="https://contentmaximiser.com/wp-content/uploads/2015/08/sales-landing-page.jpg">
		</div>
		<div  class="info">
			<div class="description">
				<h2>Магазин/каталог</h2>
				<h3>Магазин для просмотра и заказа ваших товаров и услуг.</h3>
			</div>
			<div>
				<ul>
					<li>Разработка собственного дизайна. </li>
					<li>Консоль для управления сайтом. </li>
					<li>Счётчик посещений.</li>
					<li>Разработка ТЗ в соответствии с требованиями.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
</div>
