@font-face {
    font-family: 'Header';
    src: url('./font/Exo2-ThinCondensed.otf');
}

@font-face {
    font-family: 'Text';
    src: url('./font/text.otf');
}

@font-face {
    font-family: 'Menu';
    src: url('./font/menu.otf');
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background: url(background/bg-light-4868.png) repeat;
}
.layout{
    height: 100%;
    width: 1150px;
    margin: 0 auto;
    padding-top: 30px;
    box-shadow: 0 0 20px 3px gray;
}
header{
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    width: 1150px;
    height: 50px;
    /*border: 2px solid red;*/
    background:#0d0d0d;/*#53759a; */
}
/* ОПИСАНИЕ МЕНЮ */
.logo{
    float: left;
 
    position: relative;
    width: 160px;
    height: 50px;
}
.logo__img{
   margin-top: 5px;
}

/* Menu */
.menu{  
    position: relative;
    float: right;
    width: 680px;
    height: 50px;
    margin: 0 auto;
}

ul .main_menu{
    margin: 0; padding: 0;
}
.main_menu li {
    list-style: none; /* Убираем маркеры */
    float: left;
    margin-left: 80px;
}
/*Style for link*/
.main_menu a {
    font-size: 18px;
    font-family: 'Menu';
    color: white; /* Цвет ссылок */
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: -3px;
}
.menu LI:hover A {
    color: orange; /* Цвет ссылок при наведении */
    text-decoration: none;
}  
/* КОНЕЦ ОПИСАНИЯ МЕНЮ*/


/* ОПИСАНИЕ ПОИСКА*/
.search{
    position: relative;
    float: right;
    /* border: 2px solid green;*/
    width: 300px;
    height: 50px;
    
}
/* Name of form*/
.searching {
    position: relative;
    margin-top: 7px;
}
.query {
    outline: none;
}
/* input text*/
.query {
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 33px;
    padding-left: 10px;
}
.query:focus{
    background: #ffe; /* Цвет фона */

}
/*button*/


/* КОНЕЦ ОПИСАНИЯ ПОИСКА*/

.content{
    height: 1625px;
		background-color: white;
} 
/* О нас */
.top{
    height: 100px;
}
.content  h1 {
    text-align: center;
    font-family: 'Header';
    font-size: 60px;
    text-decoration: italic;
}
/* div for image */
.rel-image{
    height: 765px;
    position:relative;
}

.image{
    height: 100%;
    width: 100%;
}
/* text on image */
.rel-image .text-image {
    display:inline-block;
    position: absolute;
    top: 15px;   
    left: 12.5%;
    width: 75%;
    height: 90%;
    
    /* Оформление текста */
    color:#FFF;
    font-family: 'Text';
    font-size: 25px;
    padding: 10px;
    word-wrap: break-word;

    padding: 20px;

    /* Фон */
    background-color:rgba(0,0,0,.4);
}

/* Наши работы*/
.center{
    height: 100px;
}
.works{
    height: 350px;
}
a{
    text-decoration: none;
}
.work{
    margin-left: 27px;
    height: 100%;
    width: 30%;
}
/* div for Напишите нам*/
.contact{
    height: 260px;
    /* border: 2px solid green; */
}
/* Напишите нам*/
.contact h1{
    margin-top: 25px;
    margin-bottom: 3px;
}
.form_row{
    position: relative;
    height: 250px;
}
/* div for Имя, почта, кнопка*/
.personal{
    left: 290px;
    height: 170px;
    width: 220px;
    position: absolute;
}
/* Имя*/
.name{
    border: solid 1px black;
    font-family: 'Text';
    margin-top: 11px;
    font-size: 16px;
    padding-left: 10px;
    width: 210px;
    height: 25%;
}
/* Почта*/
.data{
    border: solid 1px black;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'Text';
    font-size: 16px;
    width: 210px;
    height: 25%;
}
/* Кнопка для отправки формы*/
.submit {
    margin-top: 10px;
    width: 222px;
    height: 25%;
    background: white;
    font-size: 14px;
    font-family: 'Text';
    font-weight: bold; /* Насыщенность шрифта */
    color: black; /* Цвет шрифта */
    text-align: center; /* Надпись на кнопке по центру */
    border: solid 1px black; /* Параметры рамки кнопки */ 
    cursor: pointer; /* Изменение вида курсора при наведении*/
}
.submit:hover { 
    background: black;
    color: white;
    border: solid 1px black;
    font-weight: bold;
    font-size: 14px;
}
/* div for Сообщение*/
.message{
    position: absolute;
    margin-top: 11px;

    width: 320px;
    height: 149px;
    left: 530px;
}
/* Сообщение*/
.message textarea{
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid black;
    resize: none;
    font-family: 'Text';
    font-size: 16px;
    height: 95%;
    width: 95%;
}
/* плавное изменение прозрачности  placeholder-а при фокусе */
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
extarea::-webkit-input-placeholder{text-indent:0px;transition:all 0.7s ease;}
textarea::-moz-placeholder{text-indent:0px;transition:all 0.7s ease;}
textarea:-moz-placeholder{text-indent:0px;transition:all 0.7s ease;}
textarea:-ms-input-placeholder{text-indent:0px;transition:all 0.7s ease;}
textarea:focus::-webkit-input-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}
textarea:focus::-moz-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}
textarea:focus:-moz-placeholder {text-indent:50px; transition:all 0.7s ease;opacity:0;}
textarea:focus:-ms-input-placeholder{text-indent:50px; transition:all 0.7s ease;opacity:0;}
footer {
    display: block;
    margin-top: 30px;
    height: 60px;
    background-color: #0d0d0d;
}
.buttons{ 
    height: 60px;
    float: right;
    width: 220px;
}
.vk, .tw, .in{
    float: left;
    border: 0.5px solid white;
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
