/* Fonts */
@font-face{
	font-family: 'AkrobatR';
	src: url('../font/Akrobat-Regular.otf');
}
@font-face{
	font-family: 'AkrobatL';
	src: url('../font/Akrobat-Light.otf.');
}
@font-face{
	font-family: 'AkrobatEL';
	src: url('../font/Akrobat-ExtraLight.otf');
}
@font-face{
	font-family: 'AkrobatB';
	src: url('../font/Akrobat-Bold.otf');
}
@font-face{
	font-family: 'AkrobatEB';
	src: url('../font/Akrobat-ExtraBold.otf');
}

body{
	font-family: 'AkrobatL';
	margin: 0px;
	padding: 0px;
	background: #eeeeee;
}
body *{ // What does * mean?
	box-sizing: border-box;
}
/** Not in view file yet
*		Include if needed

.our-works{
	background: #eeeeee;
}

.our-works h1{
	font-family: 'AkrobatEB';
	font-weight: bold;
	text-align: center;
	padding: 50px;
	font-size: 2em;
}

.works {
	display: flex;
	padding: 50px;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}


.work-1, .work-2, .work-3, .work-4{
    margin: 20px; 
	flex-basis: 30%;
}
.work-1 h2, .work-2 h2, .work-3 h2, .work-4 h2{
	font-family: 'AkrobatEB';
	font-weight: bold;
	font-size: 1.5em;
	color: #222831;
}
.work-1 p, .work-2 p, .work-3 p, .work-4 p{
	font-family: 'AkrobatL';
	color: #222831;
}
.screen{
	position: relative;
	width: 100%;
}
@media(max-width: 650px){
     .works{
     	display: flex;
//       padding: 50px;
//       background: #E84A5F;
//      justify-content: space-around;
        flex-direction: column;
    }
}
*/

.our-orders {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch; // Full height all
}

.our-order {
	width: auto;
	box-shadow: 0 0 10px 1px #ddd;
	background-color: #eeeeee;
	margin-bottom: 0; // Like standing on a footer
	margin: 0 9px 0 9px;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
}

.our-order:hover {
	box-shadow: 0 1px 15px 1px #c0c0c0;
}

@media(max-width: 769px){
	.our-orders{
		display: flex;
		flex-direction: column;
		align-items: flex-start; /* No stretch*/
	}
	.our-order {
		margin-bottom: 10px;
		border-radius: 10px;
		box-shadow: 0 1px 15px 1px #c0c0c0;
	}
}
.imag{
//	background: #000;  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
//	overflow: hidden;  /* Ограничиваем видиую область */
}
.imag > img{
	opacity: 1;
	transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
	display: block; /* Убираем полосу под картинкий */
	margin: 0 auto; /* В центр */
		width: 100%;
		border-radius: 10px 10px 0 0;
}
a:hover .imag > img{
	opacity: 0.9; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
	transform: scale(1.1); /* Увеличение картинки */
}

.info {
	text-align: left;
	-webkit-transition: background-color 124ms;
     -moz-transition: background-color 124ms;
     -o-transition: background-color  124ms;
     transition: background-color 124ms;
}
a:hover .info {
	background-color: #ff5722;
}
.orders > a {
     text-decoration:none;
     color: #292b2c;
}

.description > h2{
	font-family: 'AkrobatEB';
	font-weight: bold;
	padding: 30px;
	text-align: center;
	color: #222831;
}
.description > h3{
	font-family: 'AkrobatEB';
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	padding: 0px 100px 30px 100px;
	color: #222831; 
}
footer{
	position: relative;
/*	height: 35vh;*/
/*	min-height: 300px;*/
	width: 100%;
}

.footer-start{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
/*	height: 90%;*/
/*    height: 35vh;*/
	width: 100%;
	margin: auto;
	background-color: #393e46; 
}
.footer-menu{
/*	border: 1px solid red;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	margin-left: 100px; // FIXME
}

.menu{
/*	border: 1px solid blue;*/
	padding: 30px 50px 50px 50px;
	width: 296px; // FIXME
}
.menu > span{
	font-family: 'AkrobatR';
	color: #eeeeee;
	cursor: pointer;
	font-size: 24px;
}
.menu > ul{
	font-family: 'AkrobatL';
	text-decoration: none;
	list-style: none;
	padding: 20px 0px 0px 0px;
	margin: 0;
}
.menu > ul > li {
	font-family: 'AkrobatL';
	padding: 5px 5px 5px 0px;
}
.menu > ul > li > a {
	    color: rgba(255, 255, 255, 0.5);
}
.menu > ul > li > a:hover {
	color: #ff5722;
}
@media(max-width: 650px){
    .footer-menu{
	display: flex;
	flex-direction: column;
  }
}
.message * {
	margin: 0;
	padding: 0px 0px 10px 0px;
	display: flex;
	justify-content: space-around;

}
@media (min-width: 769px){
.message {
	width: 50%;
  }
}
@media (min-width: 1440px){
.message {
	width: 30%;
  }
}
.message-field{
display: inline-block; 
width: calc(100% - 125px) !important;
background: #fff;
color: #333;
border-radius: 10px 0 0 10px;
padding: 0 10px 0 10px;
}
/*@media(max-width: 950px){
	.message-field{
display: inline-block; 
width: calc(100% - 300px) !important;
background: #fff;
color: #333;
}
}*/
/*s;*/

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-outline-success {
  color: #FECEA8;
  background-image: none;
  background-color: transparent;
  border-color: #FECEA8;
}

.btn-outline-success:hover {
  color: #2A363B;
  background-color: #FECEA8;
  border-color: #FECEA8;
}

.btn-outline-success:focus, .btn-outline-success.focus {
 /* -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);*/
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #2A363B;
  background-color: #FF847C;
  border-color: #FF847C;
}

.btn-send {
  color: #2A363B;
  background-color: #FECEA8;
  border-color: #FECEA8;
	margin: 0;
	border-radius: 0 10px 10px 0;
}

.btn-send:hover {
  color: #2A363B;
  background-color: #ff5722;
  border-color: #ff5722;
}


.btn-send:active {
  color: #fff;
  background-color: #E84A5F;
  background-image: none;
  border-color: #E84A5F;
}

.footer-end{
	display: flex;
	flex-direction: column;
	height: 25%;
	background-color: #222831;
	width: 100%
}
.footer-end-end{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 50%;
	min-height: 50px;
}
/* @media (max-width: 950px){
 	.footer-end-end{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 50%;
	min-height: 50px;
}
}*/

.copy {
	font-family: 'AkrobatL';
	color: #eeeeee;
	padding-top: 15px;
	margin: 0 auto;
}
/*.links{
	height: 5%;
}*/
.links a{
	font-family: 'AkrobatL';
	color: #eeeeee;
	padding: 0px 5px 0px 5px; 
}

.links a:hover {
	color: #ff5722;
}

/*.links a i{
    height: 5%;
}*/
